<?xml version='1.0' encoding='UTF-8'?>

<bag xmlns:boolean="http://www.w3.org/2001/XMLSchema#boolean" xmlns:int="http://www.w3.org/2001/XMLSchema#int" int:version="1">
 <SurveyView>
  <TopDownGrid>
   <ColumnStructure>
    <Visibility>
     <boolean:fdFunctionName>true</boolean:fdFunctionName>
     <boolean:fdTotalTimePercent>true</boolean:fdTotalTimePercent>
     <boolean:fdTotalTime>true</boolean:fdTotalTime>
     <boolean:fdSelfTime>true</boolean:fdSelfTime>
     <boolean:fdCompilerOptInfoVectLoopTypeSplitting>true</boolean:fdCompilerOptInfoVectLoopTypeSplitting>
     <boolean:fdCompilerOptInfoVectMsg>true</boolean:fdCompilerOptInfoVectMsg>
     <boolean:fdVectInfo>true</boolean:fdVectInfo>
     <boolean:fdVectInfoInstSetAnalysis>true</boolean:fdVectInfoInstSetAnalysis>
     <boolean:fdCompilerOptDetails>true</boolean:fdCompilerOptDetails>
     <boolean:fdLocation>true</boolean:fdLocation>
    </Visibility>
   </ColumnStructure>
  </TopDownGrid>
  <BottomUpGrid>
   <ColumnStructure>
    <Visibility>
     <boolean:fdFunctionName>true</boolean:fdFunctionName>
     <boolean:fdLoopAnnotation>true</boolean:fdLoopAnnotation>
     <boolean:fdRecommendationPresence>true</boolean:fdRecommendationPresence>
     <boolean:fdSelfTime>true</boolean:fdSelfTime>
     <boolean:fdTotalTime>true</boolean:fdTotalTime>
     <boolean:fdCompilerOptInfoVectLoopTypeSplitting>true</boolean:fdCompilerOptInfoVectLoopTypeSplitting>
     <boolean:fdCompilerOptInfoVectMsg>true</boolean:fdCompilerOptInfoVectMsg>
     <boolean:fdVectInfo>true</boolean:fdVectInfo>
     <boolean:fdFLOPandMasks>true</boolean:fdFLOPandMasks>
     <boolean:fdTripCount>true</boolean:fdTripCount>
     <boolean:fdVectInfoInstSetAnalysis>true</boolean:fdVectInfoInstSetAnalysis>
     <boolean:fdCompilerOptDetails>true</boolean:fdCompilerOptDetails>
     <boolean:fdLocation>true</boolean:fdLocation>
    </Visibility>
   </ColumnStructure>
   <ColumnWidth int:fdFunctionName="405" int:fdLoopAnnotation="47" int:fdRecommendationPresence="351" int:fdSelfTime="90" int:fdTotalTime="99" int:fdCompilerOptInfoVectLoopTypeSplitting="144" int:fdCompilerOptInfoVectMsg="331" int:fdVectInfoInstSets="63" int:fdVectorGain="63" int:fdVectorLength="63" int:fdSelfGFLOPS="108" int:fdSelfArithmeticIntensity="108" int:fdTripCountMedian="108" int:fdTripCountOccurrences="108" int:fdVectInfoInstClasses="198" int:fdVectInfoVectDataTypes="81" int:fdUsedRegistersNumber="63" int:fdCompilerOptDetails="144" int:fdLocation="143"/>
  </BottomUpGrid>
 </SurveyView>
 <FilterView boolean:VectorizedButtonChecked="true" boolean:NotVectorizedButtonChecked="true" boolean:FakeLoopButtonChecked="false" boolean:LibrariesButtonChecked="false" LoopsAndFunctionsFilterValue="Loops And Functions"/>
 <SurveySourceView boolean:SourcePaneVisible="true" boolean:AsmPaneVisible="true" boolean:StackPaneVisible="true"/>
</bag>
